[tmdb]
tmdbBaseUrl=https://api.themoviedb.org/3/
apiKey=**************************
language=fr-FR

[cleanFilenames]
wordsMinLen=2
excludeWords[]=www
excludeWords[]=ac3
excludeWords[]=omgtorrent
excludeWords[]=cpasbien
excludeWords[]=com
excludeWords[]=xvid
excludeWords[]=bdrip
excludeWords[]=bluray
excludeWords[]=dvd
excludeWords[]=dvdrip
excludeWords[]=avi
excludeWords[]=mkv
excludeWords[]=subforced
excludeWords[]=brrip
excludeWords[]=webrip
excludeWords[]=720p
excludeWords[]=1080p
excludeWords[]=x264
excludeWords[]=TrueFrench
exludeRegex[]="(\[.*\] *)"
exludeRegex[]="(\(.*\) *)"