[tmdb]
tmdbBaseUrl=https://api.themoviedb.org/3/
apiKey=votreCleAPIIci

[cleanFilenames]
wordsMinLen=2
excludeWords[]=www
excludeWords[]=ac3
excludeWords[]=omgtorrent
excludeWords[]=cpasbien
excludeWords[]=com
excludeWords[]=xvid
excludeWords[]=bdrip
excludeWords[]=bluray
excludeWords[]=avi
excludeWords[]=mkv
excludeWords[]=subforced
excludeWords[]=brrip
excludeWords[]=webrip
excludeWords[]=720p
excludeWords[]=1080p
excludeWords[]=x264